* {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

/* Elementos */

nav {
  display: inline;
}

nav a:hover{
  color: #fff;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 167%;
}

h3 {
  width: 70%;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  color: #6b6b6b;
  margin: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Header */

header {
  align-items: center;
  background-color: #2c3e50;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  position: fixed;
  width: 80%;
  padding: 1% 10%;
  z-index: 10;
}

header h1 {
  color: #fff;
  font-family: 'proxima_nova_altbold';
  font-size: 200%;
  font-weight: 100;
}
#header {
  background-color: #2c3e50;
}

/* Estilo de secciones */

section h1,
section h2,
section h3 {
  font-family: 'proxima_nova_ltthin';
  text-align: center;
  margin: 20px 0;
}
#home h1 {
  margin: 7% 0 0 0;
}

/* Contenedores */

.caja-centrada {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;
  width: 80%;
}

.caja-centrada img {
  margin: 30px;
}
/* estilo de caja */
.caja-full-clara {
  background-color: #fff;
  color: #6b6b6b;
}

.caja-full-media {
  background-color: #eeeeee;
  color: #6b6b6b;
}

.caja-full-oscura {
  background-color: #2c3e50;
  color: #fff;
}

/* Contenedor de tarjetas */

#contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
}

/* Estilos de las tarjetas */
.tarjeta-persona {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 20rem;
}

.tarjeta-persona h2 {
  font-family: 'Proxima Nova';
  color: #6b6b6b;
}

.tarjeta-persona h3{
  margin: 0;
}

/* Bot칩n para enviar correo */

.tarjeta-persona button {
  background-color: #2c3e50;
  color: white;
  margin: 20px 0px;
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s;
}

.tarjeta-persona button img {
  margin: 0;
}

.tarjeta-persona button:hover {
  transform: scale(1.1);
}

/* Navegaci칩n de Portafolio */

#nav-portfolio ul {
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

#nav-portfolio li {
  display: flex;
}

#nav-portfolio a {
  border: 2px solid #9a9a9a;
  border-radius: 4px;
  color: #9a9a9a;
  padding: 10px 30px;
}

#nav-portfolio a:hover {
  border: 2px solid #2c3e50;
  color: #2c3e50;
}

#nav-portfolio h3{
  font-size: 120%;
}

/* Contenedores de Galeria */

#contenedor-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

figure {
  display: flex;
  align-items: end;
  height: 400px;
  margin: 20px auto;
  width: 31%;
  background-color: #eeeeee;
  position: relative;
}

.imagen-galeria {
  height: 67%;
}

figure h1 {
  font-size: 333%;
}

/* Caja debajo de la imagen, o titulo de la imagen */

figcaption {
  display: block;
  padding: 5px;
  color: #fff;
  background-color: #9a9a9a;
  height: 31%;
  position: absolute;
}

figcaption h2, figcaption h3 {
  margin: 10px;
  text-align: start;
}

/* Caja al centro de la galeria con un enlace */

.elemento-galeria-enlace {
  display: flex;
  align-items: center;
  margin: 20px auto;
  height: 400px;
  width: 31%;
  background-color: #9a9a9a;
}

.elemento-galeria-enlace img {
  margin: auto;
}

/* Form de contacto */
form {
  max-width: 500px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
}

textarea {
  resize: vertical;
  height: 120px;
}

input[type="submit"] {
  background-color: #9a9a9a;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background-color: #2c3e50;
  color: #fff;
}

::placeholder {
  color: #9a9a9a;
}

/*Footer */

footer p {
  font-size: 93.333%;
  margin: 15px auto;
}

footer nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 1% 10%;
}

footer nav a:hover {
  color: #9a9a9a;
}


/* Estilos para pantallas m치s peque침as */
@media only screen and (max-width: 600px) {
  a {
    margin: 10px;
  }

  #nav-portfolio {
    width: 110%;
  }

  figure {
    width: 100%;
  }
  .elemento-galeria-enlace {
    width: 100%;
  }
  header {
    padding: 5% 10%;
  }
  header h1 {
  display: none;
  }
}


/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  a {
    margin: 15px;
    #nav-portfolio {
      width: 80%;
    }
  }
  figure {
    width: 47%;
  }
  .elemento-galeria-enlace {
    width: 47%;
  }
}